body {
    background-color: #ffffff;
    align-items: center;
    
}

.container {
    margin-top: 40px!important;
   
}

.form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0);
}

.form-container h1 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 800;
}

.form-group label .uzv{  
    font-weight: 800!important;}
.form-group input{
    width: 100px !important;
}
.form-container .form-group {
    margin-bottom: 15px;
}

.form-container .btn {
    margin-top: 20px;
}

.form-container .text-danger {
    margin-top: 10px;
}

.text-center p{
    margin-top: 20px;
    font-weight: 800;
}